<link rel="stylesheet" href="views/licht/licht.css"> <!-- Titel -->


<svg class="lcars-bow-ol02">
    <path d="M0.1644,80C0.0554,78.347,0,76.68,0,75C0,33.606,33.606,0,75,0H300V60C288.962,60,280,68.962,280,80H0.1644Z"
        class="lcars-color-005" />
</svg>
<div class="lcars-rect-ub"></div>




<div class="top-bar">

    <div class="lcars-rect-left"></div>
    <div class="rollo-title">LICHT</div>
    <div class="lcars-rect-right"></div>
</div>


<div class="view-rollo">

    

</div>