:root {
    --lcars-bar-height: 60px;
    /* Höhe der Top-Bar, skaliert mit Viewport */
    --lcars-bar-padding: 238px;
    /* optionaler Abstand der Rects */
}



.top-bar {
    display: flex;
    align-items: center;
    /* vertikal zentriert */
    justify-content: right;
    /* horizontal zentriert */
    height: var(--lcars-bar-height);
    position: relative;
    top: 10px;
}

.lcars-bow-ol02 {
    position: absolute;
    top: 10px;
    height: 80px;
    z-index: 0;
    left: 50px;
}


/* LCARS-Rects */
.lcars-rect-left,
.lcars-rect-right {
    position: absolute;
    top: 0;
    height: var(--lcars-bar-height);
    background-color: var(--lcars-color-005);
    z-index: 0;
}

/* Linkes Rechteck */
.lcars-rect-left {
    /* left: var(--lcars-bar-padding)  ;  */
    left: 350px;
    width: 530px;
    /* passt sich an */
    /* border-radius: calc(var(--lcars-bar-height) / 2) 0 0 calc(var(--lcars-bar-height) / 2); */
}

/* Rechtes Rechteck */
.lcars-rect-right {
    right: 0px;
    width: 5%;
    border-radius: 0 calc(var(--lcars-bar-height) / 2) calc(var(--lcars-bar-height) / 2) 0;
}

.rollo-title {
    position: relative;
    font-family: "HelveticaUC";
    font-size: calc(var(--lcars-bar-height) * 1.3);
    color: #fff;
    left: -60px;
    white-space: nowrap;
    transform: translate(2px, 2px);
    /* feiner Pixel-Shift für Raspberry */
}


@media screen and (max-width: 1280px) and (max-height: 720px) {
    .rollo-title {
        transform: translate(0px, 5px);
        /* Raspberry Display */
    }
}

@media screen and (min-width: 1920px) {
    .rollo-title {
        transform: translate(0px, 2px);
        /* Laptop / große Displays */
    }
}


.lcars-rect-ub {
    position: absolute;
    top: 90px;
    height: 10px;
    width: 280px;
    z-index: 0;
    left: 50px;
    background-color: var(--lcars-color-005);
}

.lcars-rect-zb {
    position: absolute;
    top: 180px;
    height: 90px;
    width: 280px;
    z-index: 0;
    left: 0px;
    background-color: var(--lcars-color-005);
}

.lcars-rect-ru {
    position: absolute;
    top: 245px;
    left: 280px;
    height: 25px;
    width: 680px;
    z-index: 0;
    background-color: var(--lcars-color-005);
}

.lcars-rect-right-ru {
    position: absolute;
    top: 245px;
    left: 970px;
    height: 25px;
    width: 50px;
    border-radius: 0px 12.5px 12.5px 0px;
    z-index: 0;
    background-color: var(--lcars-color-005);
}

/* Container */
.view-rollo {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-left: 50px;
}

/* Buttons */
.rollo-container {
    position: relative;
    margin-top: 0px;
    height: 180px;
}

.rollo-container>.rollo-btn+.rollo-btn {
    margin-top: 10px;

}