.bg-ice {
    background-color: var(--color-ice);

    --bg-color: var(--color-ice);
}
.bg-ghost {
    background-color: var(--color-ghost);

    --bg-color: var(--color-ghost);
}
.bg-bluey {
    background-color: var(--color-bluey);

    --bg-color: var(--color-bluey);
}
.bg-cool {
    background-color: var(--color-cool);

    --bg-color: var(--color-cool);
}
.bg-blue {
    background-color: var(--color-blue);

    --bg-color: var(--color-blue);
}
.bg-evening {
    background-color: var(--color-evening);

    --bg-color: var(--color-evening);
}
.bg-midnight {
    background-color: var(--color-midnight);

    --bg-color: var(--color-midnight);
}
.bg-lilac {
    background-color: var(--color-lilac);

    --bg-color: var(--color-lilac);
}
.bg-grape {
    background-color: var(--color-grape);

    --bg-color: var(--color-grape);
}
.bg-african-violet {
    background-color: var(--color-african-violet);

    --bg-color: var(--color-african-violet);
}
.bg-violet-creme {
    background-color: var(--color-violet-creme);

    --bg-color: var(--color-violet-creme);
}
.bg-sky {
    background-color: var(--color-sky);

    --bg-color: var(--color-sky);
}
.bg-moonlit-violet {
    background-color: var(--color-moonlit-violet);

    --bg-color: var(--color-moonlit-violet);
}
.bg-pumpkinshade {
    background-color: var(--color-pumpkinshade);

    --bg-color: var(--color-pumpkinshade);
}
.bg-orange {
    background-color: var(--color-orange);

    --bg-color: var(--color-orange);
}
.bg-tangerine {
    background-color: var(--color-tangerine);

    --bg-color: var(--color-tangerine);
}
.bg-peach {
    background-color: var(--color-peach);

    --bg-color: var(--color-peach);
}
.bg-butterscotch {
    background-color: var(--color-butterscotch);

    --bg-color: var(--color-butterscotch);
}
.bg-almond {
    background-color: var(--color-almond);

    --bg-color: var(--color-almond);
}
.bg-almond-creme {
    background-color: var(--color-almond-creme);

    --bg-color: var(--color-almond-creme);
}
.bg-gold {
    background-color: var(--color-gold);

    --bg-color: var(--color-gold);
}
.bg-golden-orange {
    background-color: var(--color-golden-orange);

    --bg-color: var(--color-golden-orange);
}
.bg-honey {
    background-color: var(--color-honey);

    --bg-color: var(--color-honey);
}
.bg-sunflower {
    background-color: var(--color-sunflower);

    --bg-color: var(--color-sunflower);
}
.bg-wheat {
    background-color: var(--color-wheat);

    --bg-color: var(--color-wheat);
}
.bg-gray {
    background-color: var(--color-gray);

    --bg-color: var(--color-gray);
}
.bg-galaxy-gray {
    background-color: var(--color-galaxy-gray);

    --bg-color: var(--color-galaxy-gray);
}
.bg-green {
    background-color: var(--color-green);

    --bg-color: var(--color-green);
}
.bg-lawn {
    background-color: var(--color-lawn);

    --bg-color: var(--color-lawn);
}
.bg-martian {
    background-color: var(--color-martian);

    --bg-color: var(--color-martian);
}
.bg-lima-bean {
    background-color: var(--color-lima-bean);

    --bg-color: var(--color-lima-bean);
}
.bg-magenta {
    background-color: var(--color-magenta);

    --bg-color: var(--color-magenta);
}
.bg-mars {
    background-color: var(--color-mars);

    --bg-color: var(--color-mars);
}
.bg-tomato {
    background-color: var(--color-tomato);

    --bg-color: var(--color-tomato);
}
.bg-rosebush {
    background-color: var(--color-rosebush);

    --bg-color: var(--color-rosebush);
}
.bg-red {
    background-color: var(--color-red);

    --bg-color: var(--color-red);
}
.bg-cardinal {
    background-color: var(--color-cardinal);

    --bg-color: var(--color-cardinal);
}
.bg-space-white {
    background-color: var(--color-space-white);

    --bg-color: var(--color-space-white);
}
.bg-moonbeam {
    background-color: var(--color-moonbeam);

    --bg-color: var(--color-moonbeam);
}
.bg-dark {
    background-color: var(--color-dark);

    --bg-color: var(--color-dark);
}
