.lcars-button {
    display: flex;
    gap: var(--spacing-s);
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;

    &:not(:disabled) {
        cursor: pointer;
    }
}

.lcars-button--menu,
.lcars-button--nav-link {
    justify-content: flex-end;
    text-align: right;
    width: 100%;
    padding: var(--spacing-sm) var(--spacing-s);
    color: var(--color-dark);
}

.lcars-button--menu {
    background-color: var(--color-grape);
}

.lcars-button--nav-link {
    background-color: var(--color-blue);
}
